{% extends 'base.html.twig' %}


{% block content %}

{% block chemin %}
<h6 class="title-page">/update_and_remove</h6>
{% endblock chemin %}

<div class="container formulaire">
{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-primary  upt">Update</button>
{{ form_end(form) }}
<a class="btn btn-danger del" href="{{path('remove_id',{id:article.id})}}">Delete</a>
</div>



{% endblock content %}
