{# <header>
  <nav>
      {% block nav %}
      <ul>
          <li>
              <a href="{{path('homing')}}">Homepage</a>
          </li>
          <li>
              <a href="{{path('new_article_id')}}">Article</a>
          </li>
          <li>
              <a href="{{path('create_article')}}">Create article</a>
          </li>
          <li>
            <a href="{{path('update_id')}}">Update Id</a>
        </li>
      </ul>
      {% endblock nav %}
  </nav>
</header> #}



<header>
{% block nav %}
<ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="{{path('homing')}}">Homepage</a>
    </li>
    {# <li class="nav-item">
      <a class="nav-link" href="{{path('new_article')}}">Article</a>
    </li> #}
    <li class="nav-item">
      <a class="nav-link" href=" {{path('create_article')}}">Create article</a>
    </li>
  </ul>
  {% endblock nav %}
</header>
