{% extends "base.html.twig" %}

  



{# {% block titre %}1#_blog{% endblock titre %} #}



{# {% block header %}
        {% include "_header.html.twig" %}
{% endblock header %} #}

{% block content %}

{% block chemin %}
<h6 class="title-page">/create_article</h6>
{% endblock chemin %}

<div class="container formulaire">
  {{form_start (form) }}
  {{form_widget (form) }}
  <button class="btn btn-primary btnSub">Submit</button>
  {{form_end (form) }}
</div>

{% endblock content %}



