{% extends "modelBlog.html.twig" %}

{% block titre %}
  Edit account
{% endblock titre %}


{% block content %}
<div class="toto container-fluid">
    <section class="forms row mx-auto">
      <form class="form-horizontal">
        <div class="form-group row">
          <label for="name" class="col-sm-2 control-label">Name :</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name">
          </div>
        </div>
        <div class="form-group row">
          <label for="firstName" class="col-sm-2 control-label">Firstname :</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="firstName">
          </div>
        </div>
        <div class="form-group row">
          <label for="birthdate" class="col-sm-2 control-label">Birthdate :</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="birthdate">
          </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-2 control-label">Email :</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="email">
            </div>
          </div>
        <div class="form-group row">
          <label for="inputPass" class="col-sm-2 control-label">Password :</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPass">
          </div>
        </div>
        <div class="form-group row">
          <label for="rePass" class="col-sm-2 control-label">Confirm Password :</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="rePass">
          </div>
        </div>
        <button><a href="{{path("login_user")}}">submit</a></button>
        <form>
    </section>
  </div>
  {% endblock content %}