{% extends "base.html.twig" %} 



{% block content %} 
{% block chemin %}<h6 class="title-page">/homepage</h6>{% endblock chemin %}

<div class="container-fluid"> 
  <div class="row">
    {% for row in result %}
    <div class="col-md-5 offset-2  mx-auto " id="block">
      <div class="card">

        <h5 class="card-header">{{row.title}}</h5>

        <ul class="list-group list-group-flush">
          <li class="list-group-item"> {{row.content[:150]}}</li>
          <li class="list-group-item">Category : {{row.category}}</li>
        </ul>
        <div class="card-body">
         <a class="btn btn-primary" href="{{path('new_article', {id:row.id})}}">Read more</a>
        </div>
        <div class="card-body">
          <a class="fas fa-cog" href="{{path('update_id', {id:row.id})}}"></a>
        </div>
      </div>
    </div>
    {% endfor %} 
    {% endblock content %}
   